h1 {
    font-family: cursive;
    color: gold;
}

body {
    background-color: skyblue;
}

header {
    display: flex;
    justify-content: center;
}

#main-content{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#options {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
}

.colorBtns {
    display: flex;
    gap: 10px;
}

.black {
    display: flex;
}

#grid {
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    border: 23px solid red;
    border-radius: 15px;
}

.row {
    display: flex;
    flex: 1;
}

.square {
    background-color: lightgray;
    border: 1px solid white;
    display: flex;
    flex: 1;
}



